<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="./index.html">Index</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <h1>You are here - at the about page.</h1>
    <h2>This is my first foray into playing with Node.js</h2>
    <h3>Its pretty ugly, but under the hood - shnazzy</h3>
</body>
</html>